/* VIEW ANIMATION */
.view-animation {
  position:relative;
}
.view-animation.ng-enter {
  -webkit-animation: 1s slideInRight;
  animation: 1s slideInRight;
}
.view-animation.ng-leave {
  -webkit-animation: 0.5s slideOutLeft;
  animation: 0.5s slideOutLeft;
}

/* MADLIB ANIMATION */
.story-animation.ng-hide-remove {
  -webkit-transition:1s linear all;
  transition:1s linear all;

  /* remember to add this */
  display:block!important;
  opacity:1;
}
.story-animation.ng-hide {
  opacity:0;
}

/* WORD ANIMATION (REFACTOR) */
.word-animation {
  position:relative;
}

/*.word-animation-add-stagger {
  -webkit-animation-delay:0.5s;
  animation-delay:0.5s;
  -webkit-animation-duration:0;
  animation-duration:0;
}*/

.word-animation-add {
  -webkit-animation: 2s slideInRight;
  animation: 2s slideInRight;
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes slideInRight {
  from {
    margin-left: 2000px;
    margin-top: 2000px;
    opacity: 0;
  }
  to {
    margin-left: 0;
    margin-top:0;
    opacity: 1;
  }
}

@-webkit-keyframes slideOutLeft {
  from {
    right: 0;
    opacity: 1;
  }
  to {
    right: 1000px;
    opacity: 0;
  }
}
