.madlib {
	width: 100%;
	margin-bottom: 5px;
}
.display {
	padding: 15px;
	margin-bottom: 30px;
	font-size: 21px;
	font-weight: 200;
	line-height: 2.1428571435;
	color: inherit;
	background-color: #eeeeee;
	box-shadow: 2px 2px 2px 0 #333333;
}
.display:hover {
	box-shadow: none;
}
a .display h1:hover, a .display h3:hover {
	text-decoration: none!important;
}
.pad-it {
	padding-top: 5px;
}
.margin-btm15 {
	margin-bottom: 15px;
}